@import url('https://fonts.googleapis.com/css2?family=NTR&display=swap');

/* COLOUR CODES */
:root {
    --navy: #0a192f;
    --light-navy: #112240;
    --lightest-navy: #233554;
    --grey: #8892b0;
    --lightgrey: #ccd6f6;
    --green: #64ffda;
    --white: #e6f1ff;
    --purple: #AA00FF;
}

*{
    margin: 0;
    padding:0;
    border:0;
}

body{
    font-family: 'NTR', sans-serif;
    background-color: var(--navy);
    color: var(--white);
  
}

.nav-link{
    color: var(--green);
}

.nav-link:hover{
    color: var(--green);
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  
  .custom-toggler.navbar-toggler {
    border-color: rgb(255,102,203);
  } 

.email-btn{
    color: var(--green);
    border-color: var(--green);
}

.email-btn:hover{
    color: var(--green);
    border-color: var(--green);
}

.about{
    color: var(--green);
}

.about-section{
    margin: 30px;
}

li{
    color: var(--green);
}

span{
    color: var(--white);
}

ul{
    column-count: 3;
}
